.chromestyle {
	width: 100%;
	font-weight: bold;
}

.chromestyle:after {
	/*Add margin between menu and rest of content in Firefox*/
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.chromestyle ul {
	border: 1px solid #BBB;
	width: 100%;
	background: url(chromebg2.gif) center center repeat-x;
	/*THEME CHANGE HERE*/
	padding: 4px 0;
	margin: 0;
	text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li {
	display: inline;
}

.chromestyle ul li a {
	color: #494949;
	padding: 4px 7px;
	margin: 0;
	text-decoration: none;
	border-right: 1px solid #B5E2FE; /*THEME CHANGE HERE*/
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected {
	/*script dynamically adds a class of "selected" to the current active menu item*/
	background: url(chromebg2-over.gif) center center repeat-x;
	/*THEME CHANGE HERE*/
}
/* ######### Style for input ,select ,button field #######*/
.input {
	width: 180px;
	padding: 4px 5px 2px 5px;
	border-color: activeborder;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
	"
}

.button {
	border: outset;
	"
}

.select {
	width: 200px;
	height: 20px;
	border: 1px solid black;
	font: small Arial, Helvetica, sans-serif;
	color: #000000;
	border-color: activeborder;
	"
}
/* ######### Style for Drop Down Menu ######### */
.dropmenudiv {
	position: absolute;
	top: 0;
	border: 1px solid #B5E2FE; /*THEME CHANGE HERE*/
	border-bottom-width: 0;
	font: Arial, Helvetica, sans-serif;
	line-height: 18px;
	z-index: 100;
	background-color: white;
	width: 150px;
	visibility: hidden;
}

.dropmenudiv a {
	width: 90%;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #B5E2FE; /*THEME CHANGE HERE*/
	padding: 2px 0;
	text-decoration: none;
	color: black;
}

.dropmenudiv a:hover { /*THEME CHANGE HERE*/
	background-color: #EBF7FF;
}